
header {
  background: #e76c1f;
  height: 10dvh;
  width: auto;
  max-width: 3840px;
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  max-width: 3840px;
}

.cover_photo {
  background-image: url("./assets/img/mexican_restaurant.png");
  height: 70dvh;
  background-size: cover;
  background-position: center;
  max-width: 3840px;
}

.restaurant_logo_section {
  display: flex;
  justify-content: center;
  margin-top: -150px;
}

.restaurant_logo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.restaurant_name_and_decription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  max-width: 3840px;
}

.restaurant_name_and_reviews {
  display: flex;
  gap: 24px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgba(231, 108, 31, 0.4);
  margin-top: 38px; /* gleiche Höhe wie h1 */
  height: 45px; /* Umrandung des Stern und review Bereichs */
  width: 180px;
  border-radius: 20px;
}

.review_star {
  margin-bottom: 4px; /* Höhe anpepasst mit reviews */
}

.review_points {
  margin-top: 4px; /* für gleiche Höhe wie Stern */
  margin-bottom: 4px;
}

.review_comments {
  margin-top: 4px; /* für gleiche Höhe wie Stern */
  margin-bottom: 6px;
  color: gray;
}

.reviews:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgba(231, 108, 31, 0.4));
}

.restaurand_description {
  padding-top: 16px;
}

.menu_section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.meals {
  background: #e76c1f;
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

h2 {
  color: white;
}


/* Klasse aus HTML-Template-Funktion um Gerichte auf Website anzeigen zu lassen */
.dishes {
  background: rgb(253, 234, 220);
  border-radius: 20px;
  margin: 16px;
  display: flex;
}
.dish-img {
  width: 300px;
  aspect-ratio: 1/1;
  padding: 16px;
  border-radius: 20px;
}

.space_between {
 display: flex;
 justify-content: space-between;
 width: 100%; /* um vollen Platz im Container zu nutzen */
}

.name_description {
 margin: 16px;
 display: flex;
 flex-direction: column;
 width: 80%;
}

.dish_description {
  padding-top: 16px;
}

.price_btn_dishes {
   margin: 16px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
}

footer {
  background: #e76c1f;
  height: 10dvh;
  width: auto;
  max-width: 3840px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright_footer {
  color: white;
}

/*  */
