header {
    background: #e76c1f;
    height: 10dvh;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.bestell_app_icon {
    height: 80px;
    width: auto;
    margin: 16px;
}

.bestell_app_menu_icon {
    height: 80px;
    width: auto;
    margin: 16px;
}

.bestell_app_menu_icon:hover {
    cursor: pointer;
}

.cover_photo {
  background-image: url("./assets/img/mexican_restaurant.png");
  height: 70dvh;
  background-size: cover;
  background-position: center;
}

.restaurant_logo_section {
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.restaurant_logo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.restaurant_name_and_decription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 24px;
}

.restaurant_name_and_reviews {
    display: flex;
    gap: 24px;
}

.reviews {
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}