header {
  background: #e76c1f;
  height: 10dvh;
  width: auto;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  max-width: 1920px;
  margin: 0 auto;
}

.cover_photo {
  background-image: url("./assets/img/mexican_restaurant.png");
  height: 70dvh;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.restaurant_logo_section {
  display: flex;
  justify-content: center;
  margin-top: -150px;
}

.restaurant_logo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.restaurant_name_and_decription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  max-width: 1920px;
}

.restaurant_name_and_reviews {
  display: flex;
  gap: 24px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgba(231, 108, 31, 0.4);
  margin-top: 38px; /* gleiche Höhe wie h1 */
  height: 45px; /* Umrandung des Stern und review Bereichs */
  width: 180px;
  border-radius: 20px;
}

.review_star {
  margin-bottom: 4px; /* Höhe anpepasst mit reviews */
}

.review_points {
  margin-top: 4px; /* für gleiche Höhe wie Stern */
  margin-bottom: 4px;
}

.review_comments {
  margin-top: 4px; /* für gleiche Höhe wie Stern */
  margin-bottom: 6px;
  color: gray;
}

.reviews:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgba(231, 108, 31, 0.4));
}

.restaurand_description {
  padding-top: 16px;
}

.menu_section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.meals {
  background: #e76c1f;
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

h2 {
  color: white;
}

/* Klasse aus HTML-Template-Funktion um Gerichte auf Website anzeigen zu lassen */
.dishes {
  background: rgb(253, 234, 220);
  border-radius: 20px;
  margin: 16px;
  display: flex;
}

.dish-img {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 16px;
  border-radius: 20px;
}

.space_between {
  display: flex;
  justify-content: space-between;
  width: 100%; /* um vollen Platz im Container zu nutzen */
}

.name_description {
  margin: 16px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.dish_description {
  padding-top: 16px;
}

.price_btn_dishes {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  background: #e76c1f;
  height: 10dvh;
  width: auto;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright_footer {
  color: white;
}

/*  */

@media (max-width: 1700px) {
.dish-img {
  width: 260px;
}
}

@media (max-width: 1500px) {
.dish-img {
  width: 240px;
}
}

@media (max-width: 1400px) {
  .dish-img {
    width: 100%;
    height: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
    padding-bottom: 0;
  }
.dishes {
  align-items: center;
  flex-direction: column;
}
.name_description {
  margin-left: 16px;
  margin-bottom: 0;
}
.dish_description {
  margin-top: 8px;
  padding: 0;
}
.space_between {
  flex-direction: column;
}
.price_btn_dishes {
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 8px;
}
}

@media (max-width: 1200px) {
  .reviews {
    margin-top: 34px;
    height: 40px; /* Umrandung des Stern und review Bereichs */
    width: 140px;
  }
}

@media (max-width: 1000px) {
  header {
    height: 9dvh;
  }
  .restaurant_logo_section {
    margin-top: -125px;
  }
  .restaurant_logo {
    width: 250px;
    height: 250px;
  }
  .cover_photo{
    height: 60dvh;
  }
  footer {
    height: 9dvh;
  }
}

@media (max-width: 900px) {
  .restaurant_name_and_reviews {
    gap: 16px;
  }
  .reviews {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
   .cover_photo{
    height: 50dvh;
  }
  .restaurant_logo_section {
    margin-top: -100px;
  }
  .restaurant_logo {
    width: 200px;
    height: 200px;
  }
  .reviews {
    margin-top: 26px;
  }
}

@media (max-width: 760px) {
  .restaurant_name_and_reviews {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
  .reviews {
    margin-top: 0;
  }
  .restaurant_description {
      text-align: center;
  }
}

@media (max-width: 700px) {
  header {
    height: 8dvh;
  }
  footer {
    height: 8dvh;
  }
}

@media (max-width: 600px) {
   .cover_photo{
    height: 40dvh;
  }
}

@media (max-width: 560px) {
  h1 {
    text-align: center;
  }
}

@media (max-width: 500px) {
   .cover_photo{
    height: 30dvh;
  }
}

@media (max-width: 400px) {
   .cover_photo{
    height: 20dvh;
  }
}









