/* Für Buttons/ icons, usw. */

.bestell_app_icon {
  height: 80px;
  width: auto;
  margin: 16px;
}

.bestell_app_menu_icon {
  height: 80px;
  width: auto;
  margin: 16px;
}

.bestell_app_menu_icon:hover {
  cursor: pointer;
}

.taco_icon {
  height: 150px;
  width: auto;
  padding-bottom: 40px;
  margin-left: 180px;
  margin-right: 120px; /* Abstand zum Text */
}

.burrito_icon {
  height: 200px;
  width: auto;
  padding-bottom: 80px;
  margin-left: 150px;
  margin-right: 100px; /* Abstand zum Text */
}

.dessert_icon {
  height: 180px;
  width: auto;
  padding-bottom: 40px;
  margin-left: 160px;
  margin-right: 120px; /* Abstand zum Text */
}

.add-to-basket-btn {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border-width: 4px;
  border-color: rgb(54, 53, 52);
  border-style: solid;
}

.add-to-basket-btn:hover {
  cursor: pointer;
}

.basket_btn {
  height: 50px;
  width: 60px;
  border-radius: 20px;
  border-width: 2px;
  border-color: rgb(54, 53, 52);
  border-style: solid;
}

.basket_btn:hover {
  cursor: pointer;
}

.basket_delete_btn {
  height: 50px;
  width: 60px;
  border-radius: 20px;
  border-width: 2px;
  border-color: rgb(54, 53, 52);
  border-style: solid;
}

.basket_delete_btn:hover {
  cursor: pointer;
}
