/* Für Buttons/ icons, usw. */

.bestell_app_icon {
  height: 80px;
  width: auto;
  margin: 16px;
}

.bestell_app_menu_icon {
  height: 80px;
  width: auto;
  margin: 16px;
}

.bestell_app_menu_icon:hover {
  cursor: pointer;
}

.taco_icon {
    height: 150px;
    width: auto;
    padding-bottom: 40px;
    margin-left: 180px;
}

.burrito_icon {
     height: 200px;
    width: auto;
    padding-bottom: 80px;
    margin-left: 130px;
}