/* Style für den Warenkorb */

/* Schließt Menü und Warenkorb in sich ein */
.menu_wrapper {
  display: flex;
  flex-direction: row;
  flex: 1; /* flex: 1; schon in main vergeben, schauen ob es funktioniert/ nötig ist an dieser Stelle */
}

/* Inhalte des Menüs / Überschrift der Gerichte und Gerichte / Speisekarte */
.menu_meals_and_dishes_wrapper {
  width: calc(100% - 450px);
}

/* Der Warenkorb-Wrapper */
#basket_wrapper {
  width: 450px;
  flex: 1;
}

/* Der Warenkorb */

.basket {
  background: rgb(54, 53, 52);
  width: 100%;
  height: 800px;
  border-radius: 20px;
  text-align: center;
  margin-top: 40px; /* auf gleicher Höhe wie .meals Container der Gerichtüberschrift */
  position: sticky; /* Warenkorb klebt an der Seite / bewegt sich beim scrollen mit */
  top: 0; /* Position ab der Warenkorb an der Seite klebt */
  display: flex;
  flex-direction: column;
}

#content_basket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1; /* Inhalt im Warenkorb nimmt sich den verfügbaren Platz  */
  overflow-y: auto; /* erzeugt eine Scrollbar für den Inhalt im Warenkorb */
}

h4 {
  color: antiquewhite;
  padding-top: 16px;
}

/* Hier werden die Gerichte angezeigt, welche in den Warenkorb geladen wurden, selber Hintergrund wie im Menü */
.dishes_basket {
  background: rgb(253, 234, 220);
  height: 150px;
  width: 418px;
  margin: 16px;
  padding: 16px;
  border-radius: 20px;
}

/* Buttons und Preis im Warenkorb auf gleicher Höhe */
.basket_btns_price {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 8px;
}

.basket_delete_price {
  display: flex;
  justify-content: space-between;
  width: 100%; /* um Platz zu nutzen, damit space-between zwischen delete_btn und price funktioniert */
}

#delivery_cost {
  color: antiquewhite;
  margin: 16px;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.seperator {
  background: antiquewhite;
  width: 418px;
  height: 1px;
  margin: 16px;
}

#dishes_sum {
  color: antiquewhite;
  margin: 16px;
}

@media (max-width: 750px) {
  .menu_meals_and_dishes_wrapper {
    width: 100%;
  }
  #basket_wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    max-height: 90dvh;
  }
  .basket {
    margin-top: 0;
    max-height: 90dvh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}


