
.menu_wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 1920px;
  margin: 0 auto; 
}

.menu_meals_and_dishes_wrapper {
  width: calc(100% - 450px);
}

#basket_wrapper {
  width: 450px;
  flex: 1;
}

.basket {
  background: rgb(54, 53, 52);
  width: 100%;
  height: 800px;
  border-radius: 20px;
  text-align: center;
  margin-top: 40px; /* same height like .meals container of dishes headline */
  position: sticky; /* no scrolling away from basket is sticky */
  top: 0; /* Position from where the basket is sticky */
  display: flex;
  flex-direction: column;
}

#content_basket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1; /* content in basket takes posible space  */
  overflow-y: auto; /* scrolling in basket */
}

h4 {
  color: antiquewhite;
  padding-top: 16px;
}

.dishes_basket {
  background: rgb(253, 234, 220);
  height: 150px;
  width: calc(100% - 32px);
  margin: 16px;
  padding: 16px;
  border-radius: 20px;
}

/* Buttons and price same height in basket */
.basket_btns_price {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 8px;
}

.basket_delete_price {
  display: flex;
  justify-content: space-between;
  width: 100%; /* use space, for functioning of space-between between delete_btn and price */
}

#delivery_cost {
  color: antiquewhite;
  margin: 16px;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.seperator {
  width: calc(100% - 32px);
  background: antiquewhite;
  width: 418px;
  height: 1px;
  margin: 16px;
}

#dishes_sum {
  color: antiquewhite;
  margin: 16px;
}

@media (max-width: 1000px) {
  .menu_meals_and_dishes_wrapper {
    width: 100%;
  }
  #basket_wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    max-height: 90dvh;
    z-index: 2000;
  }
  .basket {
    margin-top: 0;
    max-height: 90dvh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 500px) {
  .dishes_basket {
    width: 350px;
    height: 125px;
  }
}

@media (max-width: 400px) {
  .dishes_basket {
    width: 250px;
    height: 125px;
  }
}