/* Style für alles was eine Schriftgröße bekommt */

* {
      font-family: "Montserrat", sans-serif;
}

h1 {
      font-size: 70px;
      font-weight: 700;
}

/* Überschrift Gerichtemenü */
h2 {
       color: white;
      font-size: 50px;
      font-weight: 500;
}

/* Überschrift Warenkorb */
h4 {
color: white;
font-size: 35px;
font-weight: 300;
}

.review_star {
      font-size: 40px;
}

.review_points {
      font-size: 35px;
}

.review_comments {
      font-size: 25px;
}

.restaurant_description {
      font-size: 30px;
      font-weight: 500;
}

.copyright_footer {
      color: white;
      font-size: 30px;
      font-weight: 300;
}

/*  */