/* Style für alles was eine Schriftgröße bekommt */

* {
      font-family: "Montserrat", sans-serif;
}

h1 {
      font-size: 70px;
      font-weight: 700;
}

.review_star {
      font-size: 40px;
}

.review_points {
      font-size: 35px;
}

.review_comments {
      font-size: 25px;
}

.restaurand_description {
      font-size: 50px;
      font-weight: 500;
}

h2 {
      font-size: 45px;
      color: white;
      font-weight: 300;
}