/* Style für alles was eine Schriftgröße bekommt */

* {
      font-family: "Roboto Slab", serif;
}

h1 {
      font-size: 80px;
      font-weight: 700;
}

/* Überschrift Gerichtemenü */
h2 {
      font-size: 60px;
      font-weight: 500;
}

/* Überschrift Gerichte Tacos, Burritos, Desserts */
h3 {
      font-size: 50px;
      font-weight: 400;
}

/* Überschrift Warenkorb */
h4 {
font-size: 35px;
font-weight: 300;
}

.review_star {
      font-size: 40px;
}

.review_points {
      font-size: 35px;
}

.review_comments {
      font-size: 25px;
}

.restaurant_description {
      font-size: 40px;
      font-weight: 500;
}

.dish_description {
      font-size: 30px;
      font-weight: 300;
}

.dish_price {
      font-size: 30px;
      font-weight: 400;
}

.add-to-basket-btn {
      font-size: 20px;
      font-weight: 400;
}

/* h3 im Warenkorb Überschrift der Gerichte */
.basket_dish_name { 
font-size: 35px;
font-weight: 400;
}

.basket_dish_price {
      font-size: 30px;
      font-weight: 400;
}

.copyright_footer {
      font-size: 30px;
      font-weight: 300;
}


/*  */